@{
    ViewBag.Title = "Manager";
}
<style type="text/css">
    .divShowPhoto {
        float: left;
        width: 180px;
        height: 400px;
        margin: 10px;
    }

    .title {
        line-height: 80px;
        font-size: 18px;
        color: #900;
        text-align: center;
        font-family: "Microsoft YaHei";
    }
</style>
<h2>@*@ViewBag.UserID*@</h2>
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                @foreach (var tmp in ViewBag.classify)
                {          
                    <li>
                        <a href="/Home/Detail/@tmp.Key">@tmp.Value</a>
                    </li>
                }
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">

        <div class="row-fluid">
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/1.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/1.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/1.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/1.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/8.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/6.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/7.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
            <div class="divShowPhoto">
                <h4>文艺青年</h4>
                <p>
                    <img src="~/Images/8.jpg" />
                </p>
                <p>
                    <a class="btn" href="#">围观</a>
                    <a class="btn" href="#">我顶</a>
                    <a class="btn" href="#">收藏</a>
                </p>
            </div>
        </div>
    </div>
</div>

